@model RegisterViewModel
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentallela Alela! | </title>

    <!-- Bootstrap core CSS -->

    <link href="~/lib/gentelella/production/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/lib/gentelella/production/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/gentelella/production/css/animate.min.css" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="~/lib/gentelella/production/css/custom.css" rel="stylesheet">
    <link href="~/lib/gentelella/production/css/icheck/flat/green.css" rel="stylesheet">


    <script src="~/lib/gentelella/production/js/jquery.min.js"></script>

    <!--[if lt IE 9]>
          <script src="../assets/js/ie8-responsive-file-warning.js"></script>
          <![endif]-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
          <![endif]-->

</head>

<body style="background:#F7F7F7;">

    <div class="container">
        <div id="wrapper" style="margin-top: 0;">            
            <div id="login" class="animate form">
                <section class="login_content">
                    <form asp-controller="Account" asp-action="AdminRegister" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <h1>Create Account</h1>
                        <div class="x_content">

                            <div class="bs-example" data-example-id="simple-jumbotron">
                                <div class="jumbotron">

                                    <p>It looks like you are the first person to use this system.Please fill out the form below to sign up as Administrator.</p>
                                </div>
                            </div>

                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div>
                            <input asp-for="Email" class="form-control" placeholder="Email" type="email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div>
                            <input asp-for="Password" class="form-control" placeholder="Password" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div>
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" type="password" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div>
                            <button class="btn btn-default submit" type="submit">Sign Up</button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">

                            
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i class="fa fa-comment" style="font-size: 26px;"></i> Blog CMS</h1>

                                <p>ASP.NET CORE Blog CMS</p>
                            </div>
                        </div>
                    </form>
                    <!-- form -->
                </section>
                <!-- content -->
            </div>
           
        </div>
    </div>

</body>

</html>
